<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DecibelRestWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DecibelRestWpf.Properties.Settings>
            <setting name="ApiAddress" serializeAs="String">
                <value>http://decibel-rest-jazz.cloudapp.net/v1/</value>
            </setting>
            <setting name="ApplicationID" serializeAs="String">
                <value/>
            </setting>
            <setting name="ApplicationKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="ResponseFormat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </DecibelRestWpf.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
